.ThreeDH {
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
    cursor: pointer;

    &__main-edit {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__edit-image {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
