<section class="PointsList p-3 shadow rounded">
    <h2>Points</h2>
    <hr/>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
    <p>points-list works!</p>
</section>
