/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    background: #f6f6f6;
    box-sizing:border-box;
}